extends layout

block styles
  link(rel="stylesheet" href="/styles/foundation-datepicker.min.css")
  link(rel="stylesheet" href="/styles/foundation.calendar.css")

block body
  .row
    .small-12.column
      h1 Apply for leave
  .row
    .small-12.medium-6.column
      form(method="post" action="/send-leave-request")
        .row
          .small-12.medium-6.column
            label Leave type
              select#leaveType(name="leaveType")
                option(value="vacation") Vacation
                option(value="special-leave") Special Leave
          .small-12.medium-6.column
            label Duration
              select#durationSelection(name="durationSelection")
                option(value="fullday") Fullday
                option(value="morning") Morning
                option(value="afternoon") Afternoon
          .small-12.medium-6.column
            label Start date
              input#start-date(name="startDate" type="text")
          .small-12.medium-6.column
            label End date
              input#end-date(name="endDate" type="text")
          .small-12.column
            label Comment
              textarea(name="comment")
          .small-12.column
            button.button(type="submit") Send application
    .small-12.medium-6.column
      table
        tbody
          tr
            td Total days
            td 30
          tr
            td Remaining days
            td 10
    .small-12.medium-6.column
      h5 Last taken leaves
      table
        thead
          tr
            td Leave type
            td Start
            td End
            td Days
        tbody
          each leave in lastLeaves
            tr
              td=leave.leaveType
              td=leave.startDate.toLocaleString('de-DE')
              td=leave.endDate.toLocaleString('de-DE')
              td=leave.days

  .row
    .small-12.column
      h2 Leave overview
    .small-12.column
      ul.calendar
        li.title November 2016
        li.day-header
          .small-1.day Sun
          .small-1.day Mon
          .small-1.day Tue
          .small-1.day Wed
          .small-1.day Thu
          .small-1.day Fri
          .small-1.day Sat

        each week in calendar
          li.week
            each day in week
              -var previousMonthClass;
              -var nextMonthClass;
              -var todayClass;

              if day.date.getMonth() == currentDate.getMonth() && day.date.getDate() == currentDate.getDate()
                -todayClass = " today";
              else
                -todayClass = "";

              if day.date.getMonth() == previousMonth + 2
                -nextMonthClass = " next-month"
              else
                -nextMonthClass = "";

              if day.date.getMonth() == previousMonth
                -previousMonthClass = " previous-month";
              else
                -previousMonthClass = "";
              if calendarEvents.hasOwnProperty(day.date)
                div(class="small-1 day" + previousMonthClass + nextMonthClass + todayClass)
                  =day.number
                  ul.events
                    each event in calendarEvents[day.date]
                      li(class="event " + event.leaveType)=event.owner + ': ' + event.leaveType
              else
                div(class="small-1 day" + previousMonthClass + nextMonthClass + todayClass)
                  =day.number

block scripts
  script(src="/js/datepicker/foundation-datepicker.min.js")
  script(src="/js/datepicker/locales/foundation-datepicker.de.js")
  script(src="/js/datepicker/datepicker-config.js")
