extends layout

block styles
  link(rel="stylesheet" href="/styles/foundation-datepicker.min.css")
  link(rel="stylesheet" href="/styles/foundation.calendar.css")

block body
  .row
    .small-12.column
      h1 Apply for leave
  .row
    .small-12.medium-6.column
      form(method="post" action="/send-leave-request")
        .row
          .small-12.column
            label Leave type
              select#leaveType(name="leaveType")
                option(value="vacation") Vacation
                option(value="special leave") Special Leave
          .small-12.medium-5.column
            label Start date
              input#start-date(name="startDate" type="text")
          .small-12.medium-5.column
            label End date
              input#end-date(name="endDate" type="text")
          .small-12.medium-2.column
            label Days
              input(name="days" type="number" value="0")
          .small-12.column
            label Comment
              textarea(name="comment")
          .small-12.column
            button.button(type="submit") Send application
    .small-12.medium-6.column
      table
        tbody
          tr
            td Total days
            td 30
          tr
            td Remaining days
            td 10
    .small-12.medium-6.column
      h5 Last five taken leaves
      table
        thead
          tr
            td Leave type
            td Start
            td End
            td Days
        tbody
          each leave in lastLeaves
            tr
              td=leave.leaveType
              td=leave.startDate
              td=leave.endDate
              td=leave.days

  .row
    .small-12.column
      h2 Leave overview
    .small-12.column
      ul.calendar
        li.title November 2016
        li.day-header
          .small-1.day Sun
          .small-1.day Mon
          .small-1.day Tue
          .small-1.day Wed
          .small-1.day Thu
          .small-1.day Fri
          .small-1.day Sat

        each week in calendar
          li.week
            each day in week
              if day.number == 3
                .small-1.day
                  =day.number
                  ul.events
                    li.event.vacation AR: Vacation
                    li.event.special-leave SU: Special Leave
                    li.event.holiday CU: Holiday
              else if day.number == 4
                .small-1.day
                  = day.number
                  ul.events
                    li.event.vacation AR: Vacation
                    li.event.holiday=day.date
              else
                .small-1.day=day.number

block scripts
  script(src="/js/datepicker/foundation-datepicker.min.js")
  script(src="/js/datepicker/locales/foundation-datepicker.de.js")
  script(src="/js/datepicker/datepicker-config.js")
